body {
    background-color: #E1EFFA;
}

h1 {
    color: #FF5321;
    font-size: 40px;
}

h2 {
    color: #6CABC8;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}